/src/golang.org/*
/src/gopkg.in/*
/src/google.golang.org/
/src/github.com/
/src/cloud.google.com/
/src/go.opencensus.io/
/src/go4.org/
/src/dmitri.shuralyov.com/
/src/go.opencensus.io/
/src/go4.org/
/src/honnef.co/
/src/mvdan.cc/
/src/rsc.io/
/src/sourcegraph.com/
/src/go.etcd.io/
/src/go.opencensus.io/
/src/go.uber.org/
/src/go.opencensus.io/
